<!DOCTYPE html>
<html lang="en" id="homepage">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carlos Perez Development</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
  <div class="flex-column justify-space-around">
    <nav class="customNav row fixed">
      <a class="logo col-7" href="/"><img class="logoImg"
          src="https://previews.dropbox.com/p/thumb/ABBSKenpBvxiBud0QOOBgAA2QzyTsw-huNFrp1rOWhH9pk6QJoCJTKFEj-QewQA3-56DO1ECSuOEb8ngdx7AkriGr2ed7QwW0sPLCrecE5fYgEd75wQnOR5FFLBH3cNuccfwE-0kVtYh3PfKcXpJoYXaZ05qlvvQcvRpyN6RT1Uht8lP3mi1nPp3eNvQUdEIPrRl9SL_gaDeBkOm7G-78s4VW8WKSM_a9Wztm5pZMiRntntabLN52-K1RFQsuganqU76Og39Inf-gAhOv81VtuC_zuImpM_kGkUedv9ftBHj79q9gwNwwO1BguHVv_ExJZ8VhDd3ovyfKthtxD2Ot3bYJ5RzaB6_rdVZpDJO_MYX0w/p.png?fv_content=true&size_mode=5"
          alt="Cp"></a>
      <ul class="nav justify-content-end col-5" id="bootstrapNav">
        <li class="nav-item link">
          <a class="nav-link active link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item link">
          <a class="nav-link link" href="/projects">Projects</a>
        </li>
        <li class="nav-item link">
          <a class="nav-link link" href="/contactme">Contact Me</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>

    <main id="HandleBarsbody" class="container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      <a class="link" href="site_info">About This Site</a><span style="color: white;"> | </span><a class="link"
        href="http://www.github.com/perezcarlos93">Github</a>
    </footer>
  </div>

</body>

</html>