<link rel="stylesheet" href="/css/aboutme.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<main>
    <div class="row">
        <h1 class="oneday" id="title">
            About Me
            <img id="logo" src="/Assets/logo.png">
            <img id="sniff" src="/Assets/sniff.gif">
        </h1>
    </div>
    <br>
    <div class="content ebrima">
        <div id="quickBits">
            <h5>
                the quick bits
            </h5>
            <br>
            <ul>
                <li>Born and raised in Los Angeles</li>
                <li>Second generation Mexican/Cuban</li>
                <li>Earned a B.A. in Psychology</li>
                <li>Worked in the professional events industry for over a decade</li>
            </ul>
        </div>
        <br>
        <div id="theDetails" class="ebrima">
            <h5>
                the details
            </h5>
            <br>
            <p>
                From an early age, the world of computers, electronics, and technologies deeply fascinated me.
                Throughout my childhood, I increasingly loved the idea of learning to master electronics and computers.
                In my early teenage years I funneled that energy into a soundboard, volunteering with my church to run
                the tech side of Sunday services. At the start of my college career, I shifted my mindset towards the
                field of Psychology, earning a Bachelor of Arts, and making plans to move on and eventually earn my
                Doctorate. My fascination with computers and electronics continued on though and were reinforced while
                working with my University's event team, expanding my skills from being an audio technician, to
                working heavily with video and lighting equipment as well.
                <br>
                After graduation, I tried to make use of my new degree to no real avail, rather, landing myself with an
                Audio-Visual company working out of a luxury hotel in Newport Beach, California. There I learned
                quickly, adding new technologies and equipment to my arsenal and being promoted to the property's
                Assistant-Director position within a year. One and a half years later, I had moved on to West Hollywood
                as a Director. In March of 2020, I saw clients cancelling one after another due to the global pandemic,
                Covid-19. At that time, I realized that my industry would be impacted in a way that would leave it
                crippled for years to come. This is when I decided to swim, rather than sink, and began to learn
                web-development. Now, one year later, I am eager to funnel my love for computers, technology, and
                electronics into a new field as a full-stack web-developer.
                <br>
                <br>
                Thank's for reading,
                <br>
                <span class="oneday">Carlos</span>
            </p>

        </div>
    </div>
    <br>
</main>