<link rel="stylesheet" href="/css/aboutme.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<main>
    <div class="row">
        <h1 class="oneday" id="title">
            About Me
            <img id="logo" src="/Assets/logo.png">
            <img id="sniff" src="/Assets/sniff.gif">
        </h1>
    </div>
    <br>
    <div class="content ebrima">
        <div>
            <h5>
                the quick bits
            </h5>
            <br>
            <ul>
                <li>Born and raised in Los Angeles</li>
                <li>Second generation Mexican/Cuban</li>
                <li>Earned a B.A. in Psychology</li>
                <li>Worked in the professional events industry for over a decade</li>
                <li></li>
            </ul>
        </div>
        <br>
        <div>
            <h5>
                the details
            </h5>
            <br>
            <p>

            </p>

        </div>
    </div>
    <br>
</main>