<link rel="stylesheet" href="/css/homepage.css">

<main>
  <h1 class="oneday" id="NameTag">
    <img id="logo"
      src="https://previews.dropbox.com/p/thumb/ABBSKenpBvxiBud0QOOBgAA2QzyTsw-huNFrp1rOWhH9pk6QJoCJTKFEj-QewQA3-56DO1ECSuOEb8ngdx7AkriGr2ed7QwW0sPLCrecE5fYgEd75wQnOR5FFLBH3cNuccfwE-0kVtYh3PfKcXpJoYXaZ05qlvvQcvRpyN6RT1Uht8lP3mi1nPp3eNvQUdEIPrRl9SL_gaDeBkOm7G-78s4VW8WKSM_a9Wztm5pZMiRntntabLN52-K1RFQsuganqU76Og39Inf-gAhOv81VtuC_zuImpM_kGkUedv9ftBHj79q9gwNwwO1BguHVv_ExJZ8VhDd3ovyfKthtxD2Ot3bYJ5RzaB6_rdVZpDJO_MYX0w/p.png?fv_content=true&size_mode=5">
    Carlos Perez
    <img id="bubble" src="/Assets/helloworld.gif">
  </h1>
  <h7 class="ebrima" id="DevTag">
    full-stack developer
  </h7>
  <br>

  <div class="techGallery">


    <img id="headshot" src="/Assets/headshot.png">
  </div>


  <div id="statement">
    <h4 id="" class="oneday">
      Hello, and welcome to my page
    </h4>
    <br>

    <p class="ebrima">
      I am a full-stack developer working primarily with Javascript and many of it's popular front and back end tools
      and extensions. I'm eager to start my journey as a developer and hope I can help you make your goals into
      realities.
    </p>
    <br>
    <p class="ebrima">
      Thank you for visiting my page. My hope as you visit my portfolio is that you see the quality in my work that I
      continually refine and improve. To learn more about me, you can visit the <a class="link" href="/aboutme"><b>About
          Me</b></a> page. To get more familiar with with my work, visit the <a class="link"
        href="/projects"><b>Projects</b></a>
      page to see some of my best work, with links to github as well. Finally, if you'd like to chat, ask any questions,
      or offer and feedback on how I can be a better developer, head over to the <a class="link"
        href="/contactme"><b>Contact Me</b></a> page.

      Thanks again for visiting!
    </p>

  </div>
</main>