<style>
  body {
    background-image: url("https://previews.dropbox.com/p/thumb/ABCYg9UfZi92jCZRuU0t1rGbEgETQ0bFFqxVio6Vu13LmFFSPOGEOzqFnvPL222c20tRuoEulbvmUt3gqcCJJSlQDsAlc2ANSe8Ix49o5yZ30MZFIoBfW_OK5nlYY250eZWeFfkDFpOH7CiLtbhNtJC7pzRGG0u3SpipKkMiG_RIW-Zsupd3NNAj9rHWvmquKQuzC0jDUJA-2cGtLuBc5RxH9JQkmJCvRJ_QRnr_gpBoZFSR2CDRtfb4Pc84kLsY-n4v-4BaQ6PEO0o4CnZjmu_CyC0lKRDrYZnk0evPyGagAz2gzfokczSkztNhOCbsy7tz0ZXpJBfa2Eb2hqjRSzUQS3OJJBXRxnoJHQ9ltNuBEg/p.png?fv_content=true&size_mode=5");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  #NameTag {
    font-size: 8rem;
  }

  #DevTag {
    padding-left: 5rem;
    font-size: 2rem;
    font-family: ;
    color: rgba(255, 255, 255, 0.349);
  }

  #frontPgPhoto {
    height: 100%;
    width: 100%;
    padding-top: 3rem;
  }

  #statement {
    padding-top: 8rem;
  }

  #logo {
    max-height: 8rem;
    max-width: 8rem;
    padding-bottom: 1.6rem;
  }
</style>

<main>
  <h1 class="oneday" id="NameTag">
    <img id="logo"
      src="https://previews.dropbox.com/p/thumb/ABBSKenpBvxiBud0QOOBgAA2QzyTsw-huNFrp1rOWhH9pk6QJoCJTKFEj-QewQA3-56DO1ECSuOEb8ngdx7AkriGr2ed7QwW0sPLCrecE5fYgEd75wQnOR5FFLBH3cNuccfwE-0kVtYh3PfKcXpJoYXaZ05qlvvQcvRpyN6RT1Uht8lP3mi1nPp3eNvQUdEIPrRl9SL_gaDeBkOm7G-78s4VW8WKSM_a9Wztm5pZMiRntntabLN52-K1RFQsuganqU76Og39Inf-gAhOv81VtuC_zuImpM_kGkUedv9ftBHj79q9gwNwwO1BguHVv_ExJZ8VhDd3ovyfKthtxD2Ot3bYJ5RzaB6_rdVZpDJO_MYX0w/p.png?fv_content=true&size_mode=5">
    Carlos Perez
  </h1>
  <h7 class="ebrima" id="DevTag">
    full-stack developer
  </h7>

  <img id="frontPgPhoto" src="/Assets/Group 4.png">


  <div id="statement">
    <h4 class="oneday">
      Hello, and welcome to my page
    </h4>
    <br>

    <p class="ebrima">
      I am a full-stack developer working primarily with Javascript and many of it's popular front and back end
      tools and extensions. My hope as a developer is to create products that are both efficient, and inspired, to
      lead the ind
    </p>
  </div>
</main>